<ul id="sidebar-pricelist" class="collapse nav nav-pills nav-stacked" data-hook="admin_product_sub_tabs">
  <li class="sidebar-menu-item">
  	<%= link_to "Импорт", new_import_admin_pricelists_path %>
  </li>

  <%= tab :pricelists %>
  <%= tab :conflicts %>
  
  
</ul>